                    {# =========================
                       FORMULAIRE PRO
                    ========================= #}
                    <div id="tab-pro" class="tab-panel active">
                        {{ form_start(registrationPro) }}

                            <h3>Information sur votre entreprise</h3>

                            {{ form_row(registrationPro.siren) }}

                            <div class="form-row">
                                <div class="form-col">
                                    {{ form_row(registrationPro.lastName) }}
                                </div>
                                <div class="form-col">
                                    {{ form_row(registrationPro.firstName) }}
                                </div>
                            </div>

                            {{ form_row(registrationPro.email) }}
                            {{ form_row(registrationPro.plainPassword) }}
                            {{ form_row(registrationPro.agreeTerms) }}

                            <button type="submit" class="login__button">S'enregistrer en professionnel</button>

                            <div class="signup">
                                <label class="remember_me">Vous avez déjà un compte ?</label>
                                <a href="{{ path('app_login') }}" class="forgot__password">
                                    <strong>Se connecter</strong>
                                </a>
                            </div>

                        {{ form_end(registrationPro) }}
                    </div>
