					{# =========================
					   FORMULAIRE PARTICULIER
					========================= #}
					<div id="tab-particulier" class="tab-panel">
						{{ form_start(registrationParticulier) }}

							<h3>Créer votre compte particulier</h3>


							{{ form_row(registrationParticulier.email) }}
							{{ form_row(registrationParticulier.plainPassword) }}
							{{ form_row(registrationParticulier.agreeTerms) }}

							<button type="submit" class="login__button">S'enregistrer en particulier</button>

							<div class="signup">
								<label class="remember_me">Vous avez déjà un compte ?</label>
								<a href="{{ path('app_login') }}" class="forgot__password">
									<strong>Se connecter</strong>
								</a>
							</div>

						{{ form_end(registrationParticulier) }}
					</div>