{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}


    {# Corps du template #}
    <main>
        <div class="couleur-gris">
            <div class="container procedure">
                <div class="row">
                    <div class="col-12 mb-64">
                        <h2>PROCESSUS SIMPLIFIÉ</h2>
                        <h3>3 étapes pour trouver votre expert</h3>
                    </div>
                    <div class="col-4 cadre-procedure">
                        <img src="{{ asset('image/icone/marteau.svg') }}" alt="" class="img-fluid">
                        <h4>Réalisation</h4>
                        <p>Travaillez avec un pro sereinement, protégé par nos garanties et notre suivi personnalisé.</p>
                    </div>
                    <div class="col-4 cadre-procedure mx-36">
                        <img src="{{ asset('image/icone/loupe.svg') }}" alt="" class="img-fluid">
                        <h4>Recherchez</h4>
                        <p>Utilisez notre moteur intelligent pour cibler les artisans spécialisés selon vos besoins précis.</p>
                    </div>
                    <div class="col-4 cadre-procedure">
                        <img src="{{ asset('image/icone/devis.svg') }}" alt="" class="img-fluid">
                        <h4>Comparez les Devis</h4>
                        <p>Recevez des propositions détaillées et transparentes en moins de 48 heures pour votre projet.</p>
                    </div>
                </div>
            </div>
        </div>


        {# pourquoi nous choisir #}
        <div class="container satisfaction">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-6 mt-48">
                            <img src="{{ asset('image/home/01.png') }}" alt="" class="img-fluid w-100">
                            <div class="centpourcent">
                                <span>100%</span>
                                <p>Satisfaction Client</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="garantie-decenal mb-3">
                                <img src="{{ asset('image/icone/choisir.svg') }}" alt="" class="img-fluid">
                                <span class="decenal">Assurance Décennale</span>
                                <p class="decenal-p">Tous nos partenaires sont couverts.</p>
                            </div>
                            <img src="{{ asset('image/home/02.png') }}" alt="" class="img-fluid w-100">

                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <h2>POURQUOI NOUS CHOISIR ?</h2>
                    <h3>Plus qu'un simple annuaire, un gage de confiance</h3>
                    <ul>
                        <li>
                            Vérification des diplômes
                            <p>Chaque artisan passe un entretien rigoureux et voit ses diplômes authentifiés par nos experts.</p>
                        </li>
                        <li>
                            Assurance décennale à jour
                            <p>Nous vérifions mensuellement la validité des assurances
                                professionnelles de nos membres.</p>
                        </li>
                        <li>
                            Suivi personnalisé
                            <p>Un conseiller dédié vous accompagne de la signature du devis à la
                                réception de chantier.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {# artisant de confiance #}
        <div class="container">
            <div class="row">
                <h2>NOTRE SÉLECTION</h2>
                <h3>Artisans de confiance</h3>
                <div class="col-4">
                    <div class="artisan">
                        <div class="thumb">
                            <img src="{{ asset('image/artisan/01.png') }}" alt="" class="img-fluid">
                        </div>
                        <div class="thumb-info">
                            <span>ÉBÉNISTERIE</span>
                            <span>QUALIBAT RGE</span>
                            <h2>Atelier Beaumont</h2>
                            <p>Spécialiste du mobilier sur-mesure en chêne massif et
                                restauration de pièces anciennes.</p>
                            <span><i class="fas fa-map-marker-alt"></i> Paris, Île-de-France (50km)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# slider des avis clients #}
        <div class="container">
            <div class="row">
                <h2>EXPÉRIENCES</h2>
                <h3>Ce qu'en disent nos clients</h3>
                <div class="owl-carousel owl-theme"><div class="item">
                        <h5>4.5</h5>
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Atque culpa cum dolorem eos harum quae quidem quod totam ut veniam."
                        </p>
                        <div class="d-flex align-items-center mt-3">
                            <!-- Image -->
                            <img src="https://placehold.co/50x50"
                                 alt=""
                                 class="rounded-circle w-auto"
                                 width="50" height="50"
                            >

                            <div>
                                <h4 class="mb-0">Jojo</h4>
                                <p class="mb-0 text-muted">Chômeur</p>
                            </div>
                        </div>
                    </div>
                    <div class="item"><h4>2</h4></div>
                    <div class="item"><h4>3</h4></div>
                    <div class="item"><h4>4</h4></div>
                    <div class="item"><h4>5</h4></div>
                    <div class="item"><h4>6</h4></div>
                    <div class="item"><h4>7</h4></div>
                    <div class="item"><h4>8</h4></div>
                    <div class="item"><h4>9</h4></div>
                    <div class="item"><h4>10</h4></div>
                    <div class="item"><h4>11</h4></div>
                    <div class="item"><h4>12</h4></div>
                </div>


            </div>
        </div>

        {# La FAQ #}
        <div class="container">
            <div class="row">
                <div class="col-6">
                    FAQ
                </div>
            </div>
        </div>

        {# BLOG #}
        <div class="container">
            <div class="row">
                <h2>ACTUALITÉS</h2>
                <h3>Le Journal de l'Artisanat</h3>
                <div class="col-4">qsqs</div>
                <div class="col-4">qsqs</div>
                <div class="col-4">qsq</div>
            </div>
        </div>

        {# redirection vers le login #}
        <div class="container">
            <div class="row">
                div.col-12
                paralax devenez prestaire
            </div>
        </div>
    </main>

    {# footer #}
    <footer class="container-fluid">
        <div class="row">
            <div class="col-4"> logo</div>
            <div class="col-2">az</div>
            <div class="col-2">ze</div>
            <div class="col-2">ze</div>
            <div class="col-2">ze</div>
        </div>
    </footer>

{% endblock %}
