<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('plugin/owl/dist/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugin/owl/dist/assets/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="https://use.typekit.net/deo7fww.css">
    {% block stylesheets %}
        {{ importmap('app') }}
    {% endblock %}
</head>
<body>
    {{ render(controller('\\App\\Controller\\Api\\NavBarController::NavBar')) }}
    {% block body %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>    <script src="{{ asset('plugin/owl/dist/owl.carousel.min.js') }}"></script>
    <script>
        $('.haut').owlCarousel({
            loop: true,
            margin: 32,
            nav: false,

            autoplay: true,
            autoplayTimeout: 2000,      // durée entre les slides (3s)
            autoplayHoverPause: true,   // pause au hover
            smartSpeed: 800,            // vitesse de transition
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 4
                },
                1440: {
                    items: 4,
                    stagePadding: 150
                }
            }
        });
    </script>
    <script>
        document.addEventListener('turbo:load', () => {
            const owl = $('.bas');

            owl.owlCarousel({
                loop: true,
                margin: 32,
                nav: false,

                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                smartSpeed: 800,

                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1024: {
                        items: 3
                    },
                    1440: {
                        items: 5
                    }
                }
            });

            // 🔥 force le démarrage autoplay
            owl.trigger('play.owl.autoplay', [2000]);
        });
    </script>
</body>
</html>
